.about-section {
  background-color: #FFFFFF;
  padding: 50px 20px;
  text-align: center;
}

.about-section p {
  font-size: 18px; /* Increase font size */
  color: #445A61;
  line-height: 1.8; /* Adjust line height for readability */
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px; /* Add margin for spacing */
}

.about-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px; /* Add slight rounding to image corners */
}
